.family {
  width: 36rem;
  
}

.family_card {
  
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: 40rem;
  border: 1px solid #ececec;
  background-color: #003049;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow: 0px 0px 50px black;
 
}

.bio-container {
  
  padding: 10rem;
}

.bio {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.cert_card {
    
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 51rem;
    border: 1px solid #ececec;
    background-color: #003049;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 0px 50px black;
  }

  .certificate {
    width: 38rem;
  }

  .mainBody {
    background-color: #282c34;
  }

  

