.family {
  width: 21rem;
  height: 25rem;
}

.family_card {
  
  display: flex;
  width: 22rem;
  height: 26rem;
  border: 1px solid #ececec;
  background-color: #003049;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 6rem;
  box-shadow: 0px 0px 50px black;
}

.bio-container {
  text-shadow: 5px 5px 8px black;
  margin: 4rem;
}

.bio {
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 2rem;
}

.cert_card {
    
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 27rem;
    border: 1px solid #ececec;
    background-color: #003049;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin: 6rem;
    box-shadow: 0px 0px 50px black;
  }

  .certificate {
    width: 20rem;
  }

  .htmlcssjs {
    width: 20rem;
    
  }

  .mainBody {
    background: rgba(40, 44, 52, 0.5);
  }

  .bgImg {
    background-size: fill;
  }

  .cssLogo {
    font-size: 80pt;
    color: #0B74B8;
  }

  .htmlLogo {
    font-size: 80pt;
    color: #E54D26;
  }

  .jsLogo {
    font-size: 80pt;
    color: #FFD93A;
  }

  .bstrapLogo {
    font-size: 80pt;
    
    color: #8709FB;
  }

  .reactLogo {
    font-size: 80pt;
    color: #61dafb;
  }

  .nodeLogo {
    font-size: 80pt;
    color: #3C873A;
  }

  .logos-container {
    margin-left: 1.5rem;;
    margin-top: 6rem;
    align-content: center;
  }

  .skills-container {
    text-shadow: 5px 5px 8px black;
    padding: 6rem;
  }

  .skills {
    color: white;
    font-size: 25px;
    font-weight: 500;
  }






