.footer {
    background-color: #161a1d;
    height: 15rem;
    color: white;
}

.m-1:hover {
    opacity: 0.5;
}

.m-1:hover .icon {
    transform: scale(1.2);
}

.icon {
    font-size: x-large;
}

.rLogo {
    font-size: 20pt;
    color: #61dafb;
}

  .rLogo:hover {
    transform: rotate(360deg);
    
  }

.contactTitle {
    text-align: center;
    margin: 1.5rem;
}

.contact {
    text-align: center;
    
}

.sig-container {
    
    text-align: center;
    margin-top: 5rem;
}