.footer {
    background-color: #161a1d;
    height: 15rem;
    color: white;
}

.icon {
    font-size: x-large;
}

.rLogo {
    font-size: 20pt;
    color: #61dafb;
}

.contactTitle {
    text-align: center;
    margin: 1.5rem;
}

.contact {
    text-align: center;
    
}

.sig-container {
    
    text-align: center;
    margin-top: 5rem;
}