@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.header {
    background: rgba(40, 44, 52, 0.7);
    height: 240px;
    margin: 0;
    padding: 0;
  }

  .headBg {
    background-size: fill;
  }

.title {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}

.subtitle {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 400;
}

.subtitle-container {
  width: 25rem;
}

.title-container {
  align-items: center;
  vertical-align: center;
  padding: 50px;
}



  