@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.navbar {
    height: 5.4rem;
    width: 100%;
    background-image: linear-gradient(black, #003049, #003049, black);

    color: white;
  }

  .downLinkTitle {
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
  }

  .downLinks {
    text-align: center;
    line-height: 1;
  }

  .navbar-toggler-icon {
    color: white;
  }

