.navbar {
    height: 5.4rem;
    width: 100%;
    background-image: linear-gradient(black, #003049, #003049, black);

    color: white;
  }

  .downLinkTitle {
    margin-bottom: 0;
    
  }

  .downLinks {
    text-align: center;
    line-height: 1;
  }

  .navbar-toggler-icon {
    color: white;
  }

