.portfolioSection {
    
    text-align: center;
    align-items: center;
    background-color: #003049;
}

.portfolioTitle {
    font-size: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem; 
    color: white;
}

.SubContainer {
    text-align: center;
    height: 10rem;
    padding-top: 4rem;
}

.portfolioSubtitle {
    color: white;
}
